.section__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title {
  margin: 3.5rem 0;
}

.title__left {
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title__left > h3 {
  margin-right: 2rem;
}

.title__left > p {
  color: rgba(255, 255, 255, 0.2);
}

.title__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.title__right > p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 114.28571%;
  color: rgba(255, 255, 255, 0.2);
  margin-right: .8rem;
}

.title__arrow {
  width: .45rem;
  height: .9rem;
}
